DJANGO_SECRET_KEY=your_secret_key_here
DEBUG=True

DATABASE_URL=postgres://user:password@localhost:5432/scaleezy

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key


GEMINI_API_KEY=your_gemini_api_key

META_CLIENT_ID=your_meta_client_id
META_CLIENT_SECRET=your_meta_client_secret
META_REDIRECT_URI=http://localhost:8000/api/marketing/social-accounts/meta/oauth/callback/

LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:8000/api/marketing/social-accounts/linkedin/oauth/callback/

X_CLIENT_ID=your_x_client_id
X_CLIENT_SECRET=your_x_client_secret

TIKTOK_CLIENT_KEY=your_tiktok_client_key
TIKTOK_CLIENT_SECRET=your_tiktok_client_secret

YOUTUBE_CLIENT_ID=your_youtube_client_id
YOUTUBE_CLIENT_SECRET=your_youtube_client_secret

GOOGLE_BUSINESS_CLIENT_ID=your_google_business_client_id
GOOGLE_BUSINESS_CLIENT_SECRET=your_google_business_client_secret
